<%= turbo_stream.update 'content_modal' do %>
  <%= render partial: 'modal', locals: { content: Content.new } %>
<% end %>

<%= turbo_stream.append 'select_box_content' do %>
  <option value=<%= @content.id %>><%= @content.title %></option>
<% end %>