<%= turbo_stream.update 'content_modal' do %>
  <%= render partial: 'modal', locals: { content: Content.new } %>
<% end %>

<% if @content.persisted? %>
  <%= turbo_stream.append_all '.select-box-contents' do %>
    <option selected="selected" value=<%= @content.id %>><%= @content.title %></option>
  <% end %>
<% end %>