<div class="card w-80 bg-neutral text-primary-content m-3">
  <div class="card-body">
    <h2><%= link_to favorite.name, favorite_path(favorite), class: "card-title" %></h2>
    <p><%= favorite.existence_i18n %></p>
    <p><%= favorite.decade_i18n %></p>
    <p><%= favorite.gender_i18n %></p>
    <p><%= favorite.group&.name %></p>
    <p><%= favorite.content&.title %></p>
  </div>
</div>
