<% breadcrumb :favorites %>
<div class="container mx-auto px-4 my-3">
    <div class="">
      <div class="form-control">
        <%= search_form_for @q do |f| %>
          <div class="input-group py-2">
            <span class="bg-neutral"><%= f.label :name %></span>
            <%= f.search_field :name_cont, class: "input input-primary w-3/4 max-w-xs", placeholder: "空欄でも検索できます" %>
          </div>
          <div class="input-group py-2">
            <span class="bg-neutral"><%= f.label :existence %></span>
            <%= f.select :existence_eq, Favorite.existences_i18n.invert.map {|k, v| [k, Favorite.existences[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
          </div>
          <div class="input-group py-2">
            <span class="bg-neutral"><%= f.label :decade %></span>
            <%= f.select :decade_eq, Favorite.decades_i18n.invert.map {|k, v| [k, Favorite.decades[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
          </div>
          <div class="input-group py-2">
            <span class="bg-neutral"><%= f.label :gender %></span>
            <%= f.select :gender_eq, Favorite.genders_i18n.invert.map {|k, v| [k, Favorite.genders[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
          </div>
          <div class="input-group py-2">
            <span class="bg-neutral"><%= f.label :job %></span>
            <%= f.select :job_eq, Favorite.jobs_i18n.invert.map {|k, v| [k, Favorite.jobs[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
          </div>
          <%= f.submit class: "btn py-2" %>
        <% end %>
      </div>
    </div>
  <% if @favorites.count > 0 %>
    <%= render @favorites %>
  <% else %>
    <div class="alert my-5">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <span>推しが見つかりませんでした</span>
      </div>
    </div>
  <% end %>
  <p>人気の推し</p>
  ここに縦長カードで表示したい
  <% if logged_in? %>
    <p>あなたの現在の推し</p>
    <%= render @my_favorite_now %>
    <p>あなたの以前の推し</p>
    <%= render @my_favorite_before %>
  <% end %>
</div>