<% breadcrumb :favorite_show, @favorite %>
<h1 class="text-center text-2xl font-bold text-gray-600 mb-6"><%= @favorite.name %>さんファンの推し変遷</h1>
<div class="p-4">
  <p class="text-xl text-center font-bold"><%= @favorite.name %>さんファンの<span class="text-primary">以前の推し</span></p>
  <%= pie_chart @chart_before %>
</div>
<div class="p-4">
  <p class="text-xl text-center font-bold">元<%= @favorite.name %>さんファンの<span class="text-primary">現在の推し</span></p>
  <%= pie_chart @chart_now %>
</div>
