<div class="divider"></div>
<div class="rounded-box items-center">
  <div class="my-3">
    <span><%= render partial: 'shared/avatar', locals: { user: comment.user } %></span><%= comment.user.name %>
    <p class="text-right text-sm"><%= l(comment.created_at, format: :long) %></p>
  </div>
  <div class="m-5">
    <%= comment.body %>
  </div>
</div>
<% if logged_in? && current_user.own?(comment) %>
  <%= button_to t('defaults.delete'), comment_path(comment), method: :delete %>
<% end %>