<%= turbo_frame_tag "before_group" do %>
  <input type="checkbox" id="before-group" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <%= form_with model: group, local: true do |f| %>
        <%= f.text_field :name, placeholder: 'グループ名を入力してください', class: "input input-bordered w-full" %>
        <%= f.submit '追加', class: "btn" %>
        <%= f.hidden_field :favorite_id, value: favorite_id %>
      <% end %>
      <div class="modal-action">
        <label for="before-group" class="btn">閉じる</label>
      </div>
    </div>
  </div>
<% end %>
