<div class="card w-80 bg-neutral text-primary-content m-3">
  <div class="card-body">
    <h2><%= link_to request.title, request_path(request), class: "card-title" %></h2>
    <p><%= request.existence_i18n %></p>
    <p><%= request.decade_i18n %></p>
    <p><%= request.gender_i18n %></p>
    <p><%= request.job_i18n %></p>
    <p>by <%= request.user.name %></p>
  </div>
</div>
