<% breadcrumb :requests %>
<div class="container mx-auto px-4 my-3">
  <h1 class="text-center text-2xl font-bold text-gray-600 mb-6"><%= t('.title') %></h1>
  <div class="flex flex-row">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_or_description_cont, class: "input input-bordered w-48 m-2", placeholder: "キーワード" %>
      <%= f.select :existence_eq, Request.existences_i18n.invert.map {|k, v| [k, Request.existences[v]]}, {include_blank: '実在／キャラクター'}, {class: "select select-bordered w-48 m-2"} %>
      <%= f.select :decade_eq, Request.decades_i18n.invert.map {|k, v| [k, Request.decades[v]]}, {include_blank: '年齢'}, {class: "select select-bordered w-48 m-2"} %>
      <%= f.select :gender_eq, Request.genders_i18n.invert.map {|k, v| [k, Request.genders[v]]}, {include_blank: '性別'}, {class: "select select-bordered w-48 m-2"} %>
      <%= f.submit class: "btn my-2" %>
    <% end %>
  </div>
  <%= link_to '推し募集を作成', new_request_path, class: "btn" %>
  <% if @requests.count > 0 %>
    <div class="flex flex-wrap">
      <%= render @requests %>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <span>推し募集が見つかりませんでした</span>
      </div>
    </div>
  <% end %>
  <%= paginate @requests %>
</div>