<% breadcrumb :requests %>
<div class="container mx-auto px-4 my-3">
  <div class="form-control">
    <%= search_form_for @q do |f| %>
      <div class="input-group py-2">
        <span class="bg-neutral"><%= f.label 'キーワード' %></span>
        <%= f.search_field :title_or_description_cont, class: "input input-primary w-3/4 max-w-xs", placeholder: "空欄でも検索できます" %>
      </div>
      <div class="input-group py-2">
        <span class="bg-neutral"><%= f.label :existence %></span>
        <%= f.select :existence_eq, Request.existences_i18n.invert.map {|k, v| [k, Request.existences[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
      </div>
      <div class="input-group py-2">
        <span class="bg-neutral"><%= f.label :decade %></span>
        <%= f.select :decade_eq, Request.decades_i18n.invert.map {|k, v| [k, Request.decades[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
      </div>
      <div class="input-group py-2">
        <span class="bg-neutral"><%= f.label :gender %></span>
        <%= f.select :gender_eq, Request.genders_i18n.invert.map {|k, v| [k, Request.genders[v]]}, {include_blank: '指定しない'}, {class: "select select-primary w-3/4 max-w-xs"} %>
      </div>
      <%= f.submit class: "btn py-2" %>
    <% end %>
  </div>
  <% if @requests.count > 0 %>
    <%= render @requests %>
  <% else %>
    <div class="alert my-5">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <span>推し募集が見つかりませんでした</span>
      </div>
    </div>
  <% end %>
  <%= paginate @requests %>
  <p>好みに合う推し募集はありませんでしたか？</p>
  <%= link_to '推し募集を作成', new_request_path, class: "btn" %>
</div>