<% breadcrumb :request_show, @request %>
<div class="flex items-center justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-2xl">
    <div class="border-2 px-8 pt-8 pb-3 rounded-lg">
      <p class="text-xl text-center font-bold text-neutral"><%= @request.title %></p>
      <div class="my-3">
        <span><%= render partial: 'shared/avatar', locals: { user: @request.user } %></span><%= @request.user.name %>
      </div>
      <% unless @favorites_before_string.blank? %>
        <p class="text-right"><%= "元#{@favorites_before_string}推し" %></p>
      <% end %>
      <p class="text-sm text-right"><%= l(@request.created_at, format: :long) %></p>
      <div class="grid card rounded-box">
        <% unless @request.description.blank? %>
          <p class="mx-auto py-4 text-lg text-neutral">募集内容詳細</p>
          <div class="mx-auto mb-3">
            <%= safe_join @request.description.split("\n"), tag(:br) %>
          </div>
        <% end %>
        <p class="mx-auto my-4 text-lg text-neutral">募集条件</p>
        <div class="mx-auto mb-3">
          <p>区分：<%= @request.existence ? "#{@request.existence_i18n}" : "指定なし" %></p>
          <p>年齢：<%= @request.decade ? "#{@request.decade_i18n}" : "指定なし" %></p>
          <p>性別：<%= @request.gender ? "#{@request.gender_i18n}" : "指定なし" %></p>
        </div>
      </div> 
      <div class="flex">
        <% if logged_in? && current_user.own?(@request) %>
          <%= link_to edit_request_path, class: "px-3" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= button_to request_path(@request), method: :delete, class: "px-3" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
        <a href="https://twitter.com/intent/tweet?text=<%= @request.user.name %>さんが推しを募集しています！%0a【求】<%= @request.title %>%0a<%= request_url(@request) %> &hashtags=推し求む,推し不在さんおいで" target="_blank"><i class="fa-brands fa-twitter text-sky-500 mx-1"></i><span class="text-sm text-sky-500">Twitterでシェア</span></a>
      </div>
    </div>
    <% if logged_in? %>
      <%= turbo_frame_tag 'form' do %>
        <%= render partial: 'answers/form', locals: { answer: @answer, request: @request } %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag 'answers' do %>
      <% if @answers.any? %>
        <%= render @answers %>
      <% end %>
    <% end %>
  </div>
</div>