<tr>
  <td><%= favorite.name %></td>
  <td><%= favorite.existence_i18n %></td>
  <td><%= favorite.decade_i18n %></td>
  <td><%= favorite.gender_i18n %></td>
  <td><%= favorite.group&.name %></td>
  <td><%= favorite.content&.title %></td>
  <td>
    <%= button_to fan_path(fan), method: :delete do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </td>
</tr>
