<% content_for(:og_title, t('.title')) %>
<% content_for(:title, t('.title')) %>
<% breadcrumb :mypage_edit %>
<div class="flex items-center justify-center p-12">
  <div class="form-control w-full max-w-2xl">
    <%= form_with model: current_user, url: mypage_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>   
      <%= f.label :name, User.human_attribute_name(:avatar), class: "label" %>
      <%= f.file_field :avatar %>
      <%= f.label :name, User.human_attribute_name(:name), class: "label" %>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
      <%= f.label :email, User.human_attribute_name(:email), class: "label" %>
      <%= f.text_field :email, class: "input input-bordered w-full" %>
      <div class="py-4">
        <%= f.submit t('.save'), class: "btn" %>
      </div>
    <% end %>
  </div>
</div>