<% content_for(:og_title, t('.title')) %>
<% breadcrumb :mypage %>
<div class="container mx-auto px-4 my-3">
  <div class="p-6">
    <p class="text-xl">プロフィール</p>
    <div class="lg:flex">
      <div class="place-self-center">
        <%= render partial: 'shared/avatar', locals: { user: current_user } %>
      </div>
      <div class="flex flex-col justify-between py-6 lg:mx-6">
        <p>ユーザー名: <%= current_user.name %></p>
        <p>メールアドレス: <%= current_user.email.blank? ? '未設定' : current_user.email %></p>
        <p><i class="fa-brands fa-twitter text-sky-500"></i> <%= current_user.twitter_id.blank? ? 'Twitter未連携' : link_to(current_user.twitter_id, "https://twitter.com/#{current_user.twitter_id}") %></p>
      </div>
    </div>
  </div>
  <div class="p-6">
    <p class="text-xl">推し情報
      <%= link_to new_fan_path do %>
        <i class="ml-5 fa-solid fa-pen-to-square"></i>
      <% end %>
    </p>
    <div class="lg:flex">
      <div class="flex flex-col justify-between py-6 lg:mx-6">
        <% if @now_favorites.any? %>
          <p class="text-primary font-bold">現在の推し</p>
          <% @now_favorites.each do |favorite| %>
            <%= render partial: 'now_favorite', locals: { favorite: favorite } %>
          <% end %>
        <% else %>
          <p>現在の推しが登録されていません</p>
        <% end %>
        <% if @before_favorites.any? %>
          <p class="mt-4 text-secondary font-bold">以前の推し</p>
          <% @before_favorites.each do |favorite| %>
            <%= render partial: 'before_favorite', locals: { favorite: favorite } %>
          <% end %>
        <% else %>
          <p>以前の推しが登録されていません</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="divider"></div> 

  <p class="text-xl">投稿した推し募集一覧</p>
  <% if @wrote_requests.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <!--<th>推せる認定</th>-->
            <th><%= Request.human_attribute_name(:title) %></th>
            <th><%= Request.human_attribute_name(:created_at) %></th>
            <th>回答数</th>
          </tr>
        </thead>
        <tbody>
          <% @wrote_requests.each do |request| %>
            <%= render partial: 'request_row', locals: { request: request } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>投稿した推し募集はまだありません</span>
      </div>
    </div>
    <%= link_to '推し募集を作成', new_request_path, class: "btn" %>
  <% end %>
  <div class="divider"></div> 
  <p class="text-xl">回答した推し募集一覧</p>
  <% if @answered_requests.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <!--<th>推せる認定</th>-->
            <th><%= Request.human_attribute_name(:title) %></th>
            <th><%= Request.human_attribute_name(:created_at) %></th>
            <th>回答数</th>
          </tr>
        </thead>
        <tbody>
          <% @answered_requests.each do |request| %>
            <%= render partial: 'request_row', locals: { request: request } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>回答した推し募集はまだありません</span>
      </div>
    </div>
    <%= link_to '推し募集一覧へ', requests_path, class: "btn" %>
  <% end %>
  <div class="divider"></div> 
  <p class="text-xl">投稿した布教一覧</p>
  <% if @wrote_promotions.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th><%= Promotion.human_attribute_name(:name) %></th>
            <th><%= Promotion.human_attribute_name(:created_at) %></th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @wrote_promotions.each do |promotion| %>
            <%= render partial: 'promotion_row', locals: { promotion: promotion } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>投稿した布教はまだありません</span>
      </div>
    </div>
    <%= link_to '布教を作成', new_promotion_path, class: "btn" %>
  <% end %>
  <div class="divider"></div> 
  <p class="text-xl">コメントした布教一覧</p>
  <% if @commented_promotions.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th><%= Promotion.human_attribute_name(:name) %></th>
            <th><%= Promotion.human_attribute_name(:created_at) %></th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @commented_promotions.each do |promotion| %>
            <%= render partial: 'promotion_row', locals: { promotion: promotion } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>コメントした布教はまだありません</span>
      </div>
    </div>
    <%= link_to '布教一覧へ', promotions_path, class: "btn" %>
  <% end %>
<!--ブックマーク機能ができたら実装
  <div class="divider"></div>
  <p class="text-xl">ブックマークした推し募集一覧</p>
  <% if current_user.request_bookmarks.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>推せる認定</th>
            <th><%= Request.human_attribute_name(:created_at) %></th>
            <th><%= Request.human_attribute_name(:title) %></th>
            <th>回答数</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.request_bookmarks.each do |bookmark| %>
            <%= render partial: 'request_row', locals: { request: bookmark.request } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>ブックマークした推し募集はまだありません</span>
      </div>
    </div>
  <% end %>
  <div class="divider"></div>
  <p class="text-xl">ブックマークした布教一覧</p>
  <% if current_user.promotion_bookmarks.any? %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th></th>
            <th><%= Promotion.human_attribute_name(:created_at) %></th>
            <th><%= Promotion.human_attribute_name(:name) %></th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.promotion_bookmarks.each do |bookmark| %>
            <%= render partial: 'promotion_row', locals: { promotion: bookmark.promotion } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert my-5">
      <div>
        <span>ブックマークした布教はまだありません</span>
      </div>
    </div>
  <% end %>
-->
</div>