<div class="flex items-center justify-center p-12 px-4">
  <div class="form-control w-full max-w-2xl" data-controller="select">
    <%= form_with model: @promotion do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, placeholder: '山田たろう', class: "input input-bordered w-full" %>
      <%= f.label :description, class: "label" %>
      <%= f.text_area :description, placeholder: "例：2018年のライブが素晴らしいです。サブスクでも観られます！", class: "textarea textarea-bordered h-48 w-full" %>
      <p>--詳細情報を登録すると検索してもらいやすくなります（任意）--</p>
      <%= f.label :existence, class: "label" %>
      <%= f.select :existence, Promotion.existences_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full", id: "selectedExistence", data: { action: "change->select#rendering" } } %>
      <%= f.label :decade, class: "label" %>
      <%= f.select :decade, Promotion.decades_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full" } %>
      <%= f.label :gender, class: "label" %>
      <%= f.select :gender, Promotion.genders_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full" } %>
      <%= render partial: 'contents/select', locals: { f: f } %>
      <%= render partial: 'groups/select', locals: { f: f } %>
      <div class="py-4">
        <%= f.submit t('.save'), class: "btn" %>
      </div>
    <% end %>
  </div>
  <!-- ↓モーダル中身--Put this part before </body> tag -->
  <%= turbo_frame_tag "content_modal" do %>
    <%= render partial: 'contents/modal', locals: { content: Content.new } %>
  <% end %>
  <%= turbo_frame_tag "group_modal" do %>
    <%= render partial: 'groups/modal', locals: { group: Group.new } %>
  <% end %>
  <!-- ↑モーダル中身--Put this part before </body> tag -->
</div>
