<div class="container mx-auto px-4 my-3">
  <article class="prose">
    <div class="form-control w-full">
      <%= form_with model: @promotion do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name, Promotion.human_attribute_name(:name), class: "label" %>
        <%= f.text_field :name, placeholder: '布教したい人物の氏名を入力してください', class: "input input-bordered w-full" %>
        <%= f.label :description, Promotion.human_attribute_name(:description), class: "label" %>
        <%= f.text_area :description, placeholder: "例：2018年のライブが素晴らしいです。サブスクでも観られます！", class: "textarea textarea-bordered h-24 w-full" %>
        <div class="divider">詳細情報を登録すると検索してもらいやすくなります（任意）</div>
        <%= f.label :existence, class: "label" %>
        <%= f.select :existence, Promotion.existences.keys, prompt: "選択してください" %>
        <%= f.label :decade, class: "label" %>
        <%= f.select :decade, Promotion.decades.keys, prompt: "選択してください" %>
        <%= f.label :gender, class: "label" %>
        <%= f.select :gender, Promotion.genders.keys, prompt: "選択してください" %>
        <%= f.label :job, class: "label" %>
        <%= f.select :job, Promotion.jobs.keys, prompt: "選択してください" %>
        <%= f.label :content_id, class: "label" %>
        <%= f.collection_select :content_id, Content.select(:id, :title).distinct, :id, :title, prompt: "※選択肢に無い作品は追加することができます" %>
        <%= link_to '作品タイトル追加', "#my-modal" %>
        <div class="py-4">
          <%= f.submit t('.save'), class: "btn" %>
        </div>
      <% end %>
    </div>
    <!-- ↓モーダル中身--Put this part before </body> tag -->
    <div class="modal" id="my-modal">
      <div class="modal-box">
        <%= form_with model: @content do |c| %>
          <%= render 'shared/error_messages', object: c.object %>
          <%= c.text_field :title, placeholder: '作品タイトルを入力してください', class: "input input-bordered w-full" %>
          <%= c.submit '追加', class: "btn" %>
        <% end %>
        <div class="modal-action">
          <a href="#" class="btn">閉じる</a>
        </div>
      </div>
    </div>
    <!-- ↑モーダル中身--Put this part before </body> tag -->
  </article>
</div>
