<% content_for(:og_title, t('.title')) %>
<% breadcrumb :promotion_new %>
<div class="flex items-center justify-center p-12 px-4">
  <div class="form-control w-full max-w-2xl" data-controller="select">
    <%= form_with model: @promotion do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, Promotion.human_attribute_name(:name), class: "label" %>
      <%= f.text_field :name, placeholder: '山田たろう', class: "input input-bordered w-full" %>
      <%= f.label :existence, class: "label" %>
      <%= f.select :existence, Promotion.existences_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full", id: "selectedExistence", data: { action: "change->select#rendering" } } %>
      <%= f.label :decade, class: "label" %>
      <%= f.select :decade, Promotion.decades_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full" } %>
      <%= f.label :gender, class: "label" %>
      <%= f.select :gender, Promotion.genders_i18n.invert, { prompt: "選択してください" }, { class: "select select-bordered w-full" } %>
      <%= render partial: 'contents/select', locals: { f: f } %>
      <%= render partial: 'groups/select', locals: { f: f } %>
      <%= f.label :description, Promotion.human_attribute_name(:description), class: "label" %>
      <%= f.text_area :description, placeholder: "例：2018年のライブが素晴らしいです。サブスクでも観られます！", class: "textarea textarea-bordered h-48 w-full" %>
      <%= render partial: 'embed', locals: { f: f, number: '1' } %>
      <%= render partial: 'embed', locals: { f: f, number: '2' } %>
      <%= render partial: 'embed', locals: { f: f, number: '3' } %>
      <%= render partial: 'embed', locals: { f: f, number: '4' } %>
      <%= render partial: 'embed', locals: { f: f, number: '5' } %>
      <%= render partial: 'embed', locals: { f: f, number: '6' } %>
      <%= render partial: 'embed', locals: { f: f, number: '7' } %>
      <%= render partial: 'embed', locals: { f: f, number: '8' } %>
      <%= render partial: 'embed', locals: { f: f, number: '9' } %>
      <%= render partial: 'embed', locals: { f: f, number: '10' } %>
      <div class="btn btn-ghost" id="embed_open_button" data-embed-target="embedOpen" data-controller="embed" data-action="click->embed#click">
        +埋め込みを追加<i class="fa-brands fa-youtube text-red-500"></i><i class="fa-brands fa-twitter text-sky-500"></i>
      </div>
      <div class="py-4">
        <%= f.submit '布教を投稿', class: "btn" %>
      </div>
    <% end %>
  </div>
  <!-- ↓モーダル中身--Put this part before </body> tag -->
  <%= turbo_frame_tag "content_modal" do %>
    <%= render partial: 'contents/modal', locals: { content: Content.new } %>
  <% end %>
  <%= turbo_frame_tag "group_modal" do %>
    <%= render partial: 'groups/modal', locals: { group: Group.new } %>
  <% end %>
  <!-- ↑モーダル中身--Put this part before </body> tag -->
</div>
