<% content_for(:og_title, t('.title')) %>
<% content_for(:image_url, ogp_generate_url(model: @promotion.class.name, id: @promotion.id)) %>
<% content_for(:title, t('.title')) %>
<% breadcrumb :promotion_show, @promotion %>
<div class="flex items-center justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-2xl">
    <div class="border-2 px-8 pt-8 pb-3 rounded-lg">
      <p class="text-xl text-center font-bold text-neutral"><%= @promotion.name %>さんの布教</p>
      <%= turbo_frame_tag @promotion do %>
        <%= render partial: 'shared/promotion_bookmark', locals: { promotion: @promotion } %>
      <% end %>
      <%= render partial: 'shared/avatar_name', locals: { user: @promotion.user } %>
      <p class="text-sm text-right"><%= l(@promotion.created_at, format: :long) %></p>
      <div class="grid card rounded-box">
        <p class="mx-auto py-4 text-lg text-neutral">推し情報</p>
        <div class="mx-auto mb-3">
          <p><%= "・#{@promotion.group&.name}所属" if @promotion.group %></p>
          <p><%= "・「#{@promotion.content&.title}」のキャラクター" if @promotion.content %></p>
          <p><%= "・#{@promotion.decade_i18n}" if @promotion.decade %></p>
          <p><%= "・#{@promotion.gender_i18n}" if @promotion.gender %></p>
        </div>
        <% unless @promotion.description.blank? %>
          <p class="mx-auto py-4 text-lg text-neutral">推しポイント詳細</p>
          <div class="mx-auto mb-3">
            <%= safe_join @promotion.description.split("\n"), tag(:br) %>
          </div> 
        <% end %>
        <% if @promotion.embeds.any? %>
          <% @promotion.embeds.each do |embed| %>
            <% if embed.embeddable_media == 'youtube' %>
              <div class="w-full mx-auto mb-3">
                <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= embed.youtube_id %>" frameborder="0" class="w-full aspect-video"></iframe>
              </div>
            <% else %>
              <div class="w-full mx-auto mb-3">
                <blockquote class="twitter-tweet"><a href=<%= embed.identifier %>></a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div> 
      <div class="flex">
        <% if logged_in? && current_user.own?(@promotion) %>
          <%= link_to edit_promotion_path, class: "px-3" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= button_to promotion_path(@promotion), method: :delete, data: { turbo_confirm: t('defaults.message.delete_confirm') }, class: "px-3" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{ URI.encode_www_form_component(@promotion.user.name) }さんが#{ URI.encode_www_form_component(@promotion.name) }さんを布教しています！&hashtags=推し求む,推し不在さんおいで", target: '_blank', class: "text-sm text-sky-500" do %>
          <i class="fa-brands fa-twitter text-sky-500 mx-1"></i>Twitterでシェア
        <% end %>
      </div>
    </div>
    <% if logged_in? %>
      <%= turbo_frame_tag 'form' do %>
        <%= render partial: 'comments/form', locals: { comment: @comment, promotion: @promotion } %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag 'comments' do %>
      <% if @comments.any? %>
        <%= render @comments %>
      <% end %>
    <% end %>
  </div>
</div>