<% breadcrumb :promotion_show, @promotion %>
<div class="flex items-center justify-center py-12 px-4">
  <div class="mx-auto w-full max-w-2xl">
    <div class="border-2 px-8 pt-8 pb-3 rounded-lg">
      <p class="text-xl text-center font-bold text-neutral"><%= @promotion.name %>さんの布教</p>
      <div class="my-3">
        <span><%= render partial: 'shared/avatar', locals: { user: @promotion.user } %></span><%= @promotion.user.name %>
      </div>
      <p class="text-sm text-right"><%= l(@promotion.created_at, format: :long) %></p>
      <div class="grid card rounded-box">
        <p class="mx-auto py-4 text-lg text-neutral">推し情報</p>
        <div class="mx-auto mb-3">
          <p><%= "・#{@promotion.group&.name}所属" if @promotion.group %></p>
          <p><%= "・「#{@promotion.content&.title}」のキャラクター" if @promotion.content %></p>
          <p><%= "・#{@promotion.decade_i18n}" if @promotion.decade %></p>
          <p><%= "・#{@promotion.gender_i18n}" if @promotion.gender %></p>
        </div>
        <% unless @promotion.description.blank? %>
          <p class="mx-auto py-4 text-lg text-neutral">推しポイント詳細</p>
          <div class="mx-auto mb-3">
            <%= simple_format @promotion.description %>
          </div> 
        <% end %>
      </div> 
      <div class="flex">
        <% if logged_in? && current_user.own?(@promotion) %>
          <%= link_to edit_promotion_path, class: "px-3" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= button_to promotion_path(@promotion), method: :delete, class: "px-3" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
        <a href="https://twitter.com/intent/tweet?text=<%= @promotion.user.name %>さんが<%= @promotion.name %>さんを布教しています！%0a<%= promotion_url(@promotion) %> &hashtags=推し求む,推し不在さんおいで" target="_blank"><i class="fa-brands fa-twitter text-sky-500 mx-1"></i><span class="text-sm text-sky-500">Twitterでシェア</span></a>
      </div>
    </div>
    <% if logged_in? %>
      <%= turbo_frame_tag 'form' do %>
        <%= render partial: 'comments/form', locals: { comment: @comment, promotion: @promotion } %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag 'comments' do %>
      <% if @comments.any? %>
        <%= render @comments %>
      <% end %>
    <% end %>
  </div>
</div>